<h1 class="title">Welcome to MovieNight!</h1>
<h2 class="subtitle">Pick 3 movies to create a new poll.</h2>
<div class="movie-picker">
    <div class="movie" ng-repeat="mid in [0,1,2]">
        <span class="input input--isao">
            <input class="input__field input__field--isao" type="text" ng-model="movieName[mid]" ng-change="updateMovie(mid);"/>
            <label class="input__label input__label--isao" data-content="Movie {{ mid+1 }}">
                <span class="input__label-content input__label-content--isao">Movie {{ mid+1 }}</span>
            </label>
        </span>
        <br>
        <a href="http://www.imdb.com/title/{{movies[mid].imdbID}}/" ng-class="{disabled:movies[mid].imdbID == undefined}">
            <div class="poster" ng-style="movies[mid].style" id="movie{{ mid }}">
                <div class="rating">{{ movies[mid].imdbRating || '-' }}</div>
                <div class="year">{{ movies[mid].Year }}</div>
            </div>
        </a>
        <div style="clear: both;"></div>
        <div class="header">
            {{ movies[mid].Title || 'Please select a movie...' }}
        </div>
    </div>
</div>
<button class="createButton" ng-click="createMoviePoll();">Create a poll ></button>