<h1 class="title">Ready for your MovieNight?</h1>
<h2 class="subtitle">Like movies you want to watch!</h2>
<div class="movie-picker">
    <div class="movie" ng-repeat="mid in [0,1,2]">
        <a href="http://www.imdb.com/title/{{movies[mid].imdbID}}/">
            <div class="poster" ng-style="movies[mid].style" id="movie{{ mid }}">
                <div class="rating">{{ movies[mid].imdbRating || '-' }}</div>
                <div class="year">{{ movies[mid].Year }}</div>
            </div>
        </a>
        <div class="header">
            {{ movies[mid].Title || ' ' }}
        </div>
        <div class="favourites">
            <a ng-click="like(mid);" class="fav contain-icon icon-hook {{ getActivityClass(mid); }}">
                <!--Begin Second Star Icon-->
                <svg class="star-icon star-icon-2" version="1.1" width="106px" height="103px" viewBox="0 0 105.602 102.931">
                    <path class="main-star-2" fill="none" stroke="#FFFFFF" stroke-width="6" stroke-miterlimit="10" d="M52.35,3.11c0.475-0.963,1.253-0.963,1.728,0 l12.211,24.742c0.475,0.963,1.734,1.877,2.796,2.032l27.305,3.968c1.063,0.154,1.303,0.894,0.534,1.644L77.167,54.754
          c-0.769,0.75-1.25,2.229-1.068,3.287l4.664,27.194c0.182,1.058-0.448,1.516-1.398,1.016L54.942,73.413
          c-0.951-0.5-2.506-0.5-3.456,0L27.064,86.252c-0.951,0.5-1.58,0.043-1.398-1.016l4.664-27.194c0.182-1.058-0.299-2.538-1.068-3.287
          L9.504,35.495c-0.769-0.75-0.529-1.489,0.534-1.644l27.305-3.968c1.063-0.154,2.321-1.069,2.796-2.032L52.35,3.11z"/>
                    <path class="star-dashes-2" fill="#FFFFFF" stroke="#FFFFFF" stroke-width="5" stroke-linecap="round" stroke-miterlimit="10" d="M20.881,6.26
          l6.333,7.333 M103.214,63.961l-9.173-3.122 M78.519,13.835l5.724-7.818 M52.777,100.544l0.048-9.69 M11.823,61.737l-9.436,2.204"/>
                </svg>
            </a>
            <div class="count">{{ likes[mid].length }}</div>
            <p>
                <b>Liked by:</b> {{ getLikedNames(mid).join(", ") || " - " }}
            </p>
        </div>
    </div>
</div>
<div class="overlay" ng-show="!userReady">
    <h2 class="subtitle">We need your name so others know who favourited which movie. :)</h2>
    <span class="input input--isao">
        <input class="input__field input__field--isao" type="text" ng-model="userName"/>
        <label class="input__label input__label--isao" data-content="Name">
            <span class="input__label-content input__label-content--isao">Name</span>
        </label>
    </span>
    <button class="createButton" ng-disabled="!userName" ng-click="saveName();">Let's vote ></button>
</div>